body{
    background-color:ghostwhite;
}

h1{
    text-align: center;
    text-decoration: underline;
}

img {
    height: 250px;
    float: left;
    border: solid gray 5px;
  
}

.column {
    width: 300px;
    float: left;
    margin: auto;
}



#lastlist li{
    list-style-type: none;
}
.top{
   margin-left: 27%;
}

.bottom {
    margin-left: 25%;
    width: fit-content;
}

#sec {
    margin-right: 100px;
}

